/.idea/.idea.ControlWork1/.idea/.gitignore
/ControlWork1_Student2/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/ControlWork1_Student3/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/Reflexion/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/ControlWork1_Student2/obj/Debug/net10.0/apphost.exe
/ControlWork1_Student3/obj/Debug/net10.0/apphost.exe
/ControlWork1.sln
/ControlWork1_Student2/obj/Debug/net10.0/ControlWork1_Student2.AssemblyInfo.cs
/ControlWork1_Student2/obj/Debug/net10.0/ControlWork1_Student2.AssemblyInfoInputs.cache
/ControlWork1_Student2/obj/Debug/net10.0/ControlWork1_Student2.assets.cache
/ControlWork1_Student2/ControlWork1_Student2.csproj
/ControlWork1_Student2/obj/Debug/net10.0/ControlWork1_Student2.csproj.CoreCompileInputs.cache
/ControlWork1_Student2/obj/Debug/net10.0/ControlWork1_Student2.csproj.FileListAbsolute.txt
/ControlWork1_Student2/obj/ControlWork1_Student2.csproj.nuget.dgspec.json
/ControlWork1_Student2/obj/ControlWork1_Student2.csproj.nuget.g.props
/ControlWork1_Student2/obj/ControlWork1_Student2.csproj.nuget.g.targets
/ControlWork1_Student2/bin/Debug/net10.0/ControlWork1_Student2.deps.json
/ControlWork1_Student2/bin/Debug/net10.0/ControlWork1_Student2.dll
/ControlWork1_Student2/obj/Debug/net10.0/ref/ControlWork1_Student2.dll
/ControlWork1_Student2/obj/Debug/net10.0/refint/ControlWork1_Student2.dll
/ControlWork1_Student2/obj/Debug/net10.0/ControlWork1_Student2.dll
/ControlWork1_Student2/bin/Debug/net10.0/ControlWork1_Student2.exe
/ControlWork1_Student2/obj/Debug/net10.0/ControlWork1_Student2.GeneratedMSBuildEditorConfig.editorconfig
/ControlWork1_Student2/obj/Debug/net10.0/ControlWork1_Student2.genruntimeconfig.cache
/ControlWork1_Student2/obj/Debug/net10.0/ControlWork1_Student2.GlobalUsings.g.cs
/ControlWork1_Student2/bin/Debug/net10.0/ControlWork1_Student2.pdb
/ControlWork1_Student2/obj/Debug/net10.0/ControlWork1_Student2.pdb
/ControlWork1_Student2/bin/Debug/net10.0/ControlWork1_Student2.runtimeconfig.json
/ControlWork1_Student3/obj/Debug/net10.0/ControlWork1_Student3.AssemblyInfo.cs
/ControlWork1_Student3/obj/Debug/net10.0/ControlWork1_Student3.AssemblyInfoInputs.cache
/ControlWork1_Student3/obj/Debug/net10.0/ControlWork1_Student3.assets.cache
/ControlWork1_Student3/ControlWork1_Student3.csproj
/ControlWork1_Student3/obj/Debug/net10.0/ControlWork1_Student3.csproj.CoreCompileInputs.cache
/ControlWork1_Student3/obj/Debug/net10.0/ControlWork1_Student3.csproj.FileListAbsolute.txt
/ControlWork1_Student3/obj/ControlWork1_Student3.csproj.nuget.dgspec.json
/ControlWork1_Student3/obj/ControlWork1_Student3.csproj.nuget.g.props
/ControlWork1_Student3/obj/ControlWork1_Student3.csproj.nuget.g.targets
/ControlWork1_Student3/bin/Debug/net10.0/ControlWork1_Student3.deps.json
/ControlWork1_Student3/bin/Debug/net10.0/ControlWork1_Student3.dll
/ControlWork1_Student3/obj/Debug/net10.0/ref/ControlWork1_Student3.dll
/ControlWork1_Student3/obj/Debug/net10.0/refint/ControlWork1_Student3.dll
/ControlWork1_Student3/obj/Debug/net10.0/ControlWork1_Student3.dll
/ControlWork1_Student3/bin/Debug/net10.0/ControlWork1_Student3.exe
/ControlWork1_Student3/obj/Debug/net10.0/ControlWork1_Student3.GeneratedMSBuildEditorConfig.editorconfig
/ControlWork1_Student3/obj/Debug/net10.0/ControlWork1_Student3.genruntimeconfig.cache
/ControlWork1_Student3/obj/Debug/net10.0/ControlWork1_Student3.GlobalUsings.g.cs
/ControlWork1_Student3/bin/Debug/net10.0/ControlWork1_Student3.pdb
/ControlWork1_Student3/obj/Debug/net10.0/ControlWork1_Student3.pdb
/ControlWork1_Student3/bin/Debug/net10.0/ControlWork1_Student3.runtimeconfig.json
/Reflexion/CreateUserRequest.cs
/Reflexion/CreateUserRequestValidator.cs
/ControlWork1_Student3/Expense.cs
/.idea/.idea.ControlWork1/.idea/indexLayout.xml
/Reflexion/IValidator.cs
/ControlWork1_Student3/bin/Debug/net10.0/output.txt
/ControlWork1_Student3/Product.cs
/ControlWork1_Student3/ProductCodeComparer.cs
/ControlWork1_Student2/Program.cs
/ControlWork1_Student3/Program.cs
/Reflexion/Program.cs
/ControlWork1_Student2/obj/project.assets.json
/ControlWork1_Student3/obj/project.assets.json
/Reflexion/obj/project.assets.json
/ControlWork1_Student2/obj/project.nuget.cache
/ControlWork1_Student3/obj/project.nuget.cache
/Reflexion/obj/project.nuget.cache
/ControlWork1_Student2/obj/project.packagespec.json
/ControlWork1_Student3/obj/project.packagespec.json
/Reflexion/obj/project.packagespec.json
/.idea/.idea.ControlWork1/.idea/inspectionProfiles/Project_Default.xml
/Reflexion/obj/Debug/net10.0/Reflexion.AssemblyInfo.cs
/Reflexion/obj/Debug/net10.0/Reflexion.AssemblyInfoInputs.cache
/Reflexion/obj/Debug/net10.0/Reflexion.assets.cache
/Reflexion/Reflexion.csproj
/Reflexion/obj/Reflexion.csproj.nuget.dgspec.json
/Reflexion/obj/Reflexion.csproj.nuget.g.props
/Reflexion/obj/Reflexion.csproj.nuget.g.targets
/Reflexion/obj/Debug/net10.0/Reflexion.GeneratedMSBuildEditorConfig.editorconfig
/Reflexion/obj/Debug/net10.0/Reflexion.GlobalUsings.g.cs
/ControlWork1_Student3/bin/Debug/net10.0/reports.txt
/ControlWork1_Student2/obj/rider.project.model.nuget.info
/ControlWork1_Student3/obj/rider.project.model.nuget.info
/Reflexion/obj/rider.project.model.nuget.info
/ControlWork1_Student2/obj/rider.project.restore.info
/ControlWork1_Student3/obj/rider.project.restore.info
/Reflexion/obj/rider.project.restore.info
/ControlWork1_Student3/Solution1.cs
/ControlWork1_Student3/Solution3.cs
/ControlWork1_Student3/StockChangedEventArgs.cs
/ControlWork1_Student2/TaskDeadlineComparer.cs
/ControlWork1_Student2/TaskItem.cs
/Reflexion/ValidationService.cs
/.idea/.idea.ControlWork1/.idea/vcs.xml
/ControlWork1_Student3/WareHouse.cs
/ControlWork1_Student3/WarehouseItem.cs
